<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%- locals.title %></title>
    <%- include('../partials/header_datatable_v1') %>

    


    
</head>
<body>

    <div class="container-fluid mb-3">
        
        <!-- include('../partials/navbar') -->
        

        <div><%- body %></div>
        
        <%- include('../partials/footer_datatable_v1') %>
        
    </div>
   
    <%- include('../modal/patron_modal.ejs') %>
    
</body>
</html>