<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%- locals.title %></title>
    <%- include('../partials/header') %>

    


    
</head>
<body>

    <div class="container-fluid mb-3">
        

        

        <div><%- body %></div>
        
        <%- include('../partials/footer.ejs') %>
        
    </div>
   
    <%- include('../modal/inv-modal.ejs') %> 
    
</body>
</html>